<IfModule mod_rewrite.c>
     RewriteEngine on
     
     #Redirect multiple domain to main domain
     RewriteCond %{HTTP_HOST} ^(www.bisiacaria.com|bisiacaria.com) [NC] 
     RewriteRule ^(.*)$ http://ricordiamo.bisiacaria.com$1 [R=301,L]     
     
     #Laravel main rewrite
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d

     RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>